/* Reset CSS
 * --------------------------------------- */


body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#00171F ;
}


q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body{
	font-family: 'merriweatherregular';
	color: #000;

}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}


p {

	font-weight: lighter;
}

html, .root {
  font-size: 18px;
  line-height: 31px;
}
body, .article {
  font-size: 1em;
  line-height: 1.72222222em;
  margin: auto;
color: #000;

}
h1, .h1 {
  font-size: 6.61111111em;
  line-height: 1.04201681em;
  margin-top: 0.2605042em;
  margin-bottom: 0.5210084em;
font-family: 'merriweather_sansextrabold';
}
h2, .h2 {
  font-size: 3.5em;
  line-height: 1.47619048em;
  margin-top: 0.49206349em;
  margin-bottom: 0.49206349em;
	font-family: 'Bree Serif', serif;
}
h3, .h3 {
  font-size: 1.88888889em;
  line-height: 1.82352941em;
  margin-top: 0.91176471em;
  margin-bottom: 0em;

}
h4, .h4 {
  font-size: 1em;
  line-height: 1.72222222em;
  margin-top: 1.72222222em;
  margin-bottom: 0em;
}
h5, .h5 {
  font-size: 1em;
  line-height: 1.72222222em;
  margin-top: 1.72222222em;
  margin-bottom: 0em;
}
p, ul, ol, pre, table, blockquote {
  margin-top: 0em;
  margin-bottom: 1.72222222em;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0em;
  margin-bottom: 0em;
}

/* Let's make sure all's aligned */
hr, .hr {
  border: 1px solid;
  margin: -1px 0;
}
a, b, i, strong, em, small, code {
  line-height: 0;
}
sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

a {
	color: #0067b8;
}

a:hover {
	text-decoration: underline;
	
}

.section-1024 {
	max-width: 1280px;
	margin: 0 auto;
}

@media (max-width: 760px) {
	
	h1 {
		font-size: 3em;
	}
	
	p {
	font-size: 1.2em;
	}

	
}


.intro p{
	margin: 0 auto;
}

#section3 .intro p{
	width: 50%;
}



.section{
	text-align:center;
}

@keyframes border {
    0%   {border-bottom-width: 0px;}
    25%  {border-bottom-width: 1px;}
    50%  {border-bottom-width: 8px;}
	50%  {border-bottom-width: 7px;}
    100% {border-bottom-width: 4px;}
}

div {

    animation-name: border-bottom;
    animation-duration: .5s;
}






.twitter-share-button{
	position: fixed;
	z-index: 99;
	right: 149px;
	top: 9px;
}
#download{
	margin: 10px 0 0 0;
	padding: 15px 10px;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #49afcd;
	background-image: -moz-linear-gradient(to bottom, #5bc0de, #2f96b4);
	background-image: -ms-linear-gradient(to bottom, #5bc0de, #2f96b4);
	background-image: -webkit-gradient(linear,0 0,0 100%,from( #5bc0de),to( #2f96b4));
	background-image: -webkit-linear-gradient(to bottom, #5bc0de, #2f96b4);
	background-image: -o-linear-gradient(to bottom, #5bc0de, #2f96b4);
	background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
	border-color: #2f96b4 #2f96b4 #1f6377;
	border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	vertical-align: middle;
	cursor: pointer;
	display: inline-block;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}
#download a{
	text-decoration:none;
	color:#fff;
}
#download:hover{
	text-shadow: 0 -1px 0 rgba(0,0,0,.25);
	background-color: #2F96B4;
	background-position: 0 -15px;
	-webkit-transition: background-position .1s linear;
	-moz-transition: background-position .1s linear;
	-ms-transition: background-position .1s linear;
	-o-transition: background-position .1s linear;
	transition: background-position .1s linear;
}
#infoMenu{
	height: 20px;
	color: #f2f2f2;
	position:fixed;
	z-index:70;
	bottom:0;
	width:100%;
	text-align:right;
	font-size:0.9em;
	padding:8px 0 8px 0;
}
#infoMenu ul{
	padding: 0 40px;
}
#infoMenu li a{
	display: block;
	margin: 0 22px 0 0;
	color: #333;
}
#infoMenu li a:hover{
	text-decoration:underline;
}
#infoMenu li{
	display:inline-block;
	position:relative;
}
#examplesList{
	display:none;
	background: #282828;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 20px;
	float: left;
	position: absolute;
	bottom: 29px;
	right: 0;
	width:638px;
	text-align:left;
}
#examplesList ul{
	padding:0;
}
#examplesList ul li{
	display:block;
	margin: 5px 0;
}
#examplesList ul li a{
	color: #BDBDBD;
	margin:0;
}
#examplesList ul li a:hover{
	color: #f2f2f2;
}
#examplesList .column{
	float: left;
	margin: 0 20px 0 0;
}
#examplesList h3{
	color: #f2f2f2;
	font-size: 1.2em;
	margin: 0 0 15px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	padding: 0 0 5px 0;
}



/* Demos Menu
 * --------------------------------------- */

@include block(profile) {
	margin-right: 40px;

   @include element(image) {
			background:  transparent url('../images/me.jpg') no-repeat center center;
			background-size: 100% auto;
			width: 120px;
			height: 120px;
			border-radius: 50%;
			margin-right: 40px;
			border: solid 5px #fff;
			box-shadow: 1px 1px 10px rgba(0,0,0,0.2)
	 }
}

 #demosMenu{
	position:fixed;
	bottom: 10px;
	right:10px;
	z-index: 999;
 }

#section0 {

}

#section0 h1 {
color: $blue;
}

#section0 p {
color: #00171F;
}

.slide {
	position: relative;
}

.slide1 {
	background: transparent url('../images/portfolio-wyd.jpg') no-repeat center center;
}

.slide2 {
	background: transparent url('../images/portfolio-slsf.jpg') no-repeat center center;
}

.slide3 {
	background: transparent url('../images/portfolio-satc.jpg') no-repeat center center;
}

.slide4 {
	background: transparent url('../images/portfolio-scraping.jpg') no-repeat center center;
		background-size: 97% auto;

}

.slide5 {
	background: transparent url('../images/portfolio-msfeed.jpg') no-repeat center center;
	background-size: 97% auto;
}

.slide6 {
	background: transparent url('../images/portfolio-coy.jpg') no-repeat center center;
	background-size: 97% auto;
}.slide__left {
	position: absolute;
	top: 12%;
	left:0;
	
}

.slide .intro h2 {
	text-align: left;
	font-size: 3.5em;
	display: block;
	padding: 5px 30px 5px 80px;
	color: #fff;
	background-color: #10b6e6;
	margin-bottom: 0;
}


.slide .intro p {
	text-align: left;
	padding: 10px 20px 10px 80px;
	background-color: #000;
	color: #fff;
	margin-left: 0;
	float: left;
}

#section2 {
	background: transparent url('../images/bg-02.jpg') no-repeat center center;
}

#section3 {
	background: transparent url('../images/bg3.jpg') no-repeat center center;
	background-size: cover;
}
#section3 .intro a {
	display: inline-block;
}

/* offerings */
.offerings {
	display: flex;
	max-width: 1280px;
	margin: 0 auto 120px;
	flex-wrap: wrap;
	justify-content: center;
}

.offerings div {
	padding: 15px 40px;
	background-color: #10b6e6;
	border: solid 2px #fff;
	color: #fff;
}

/* Portfolio - designs*/
.main-content {
  padding: 5% 25% 5% 25%;
  flex: 1 1 80%;

}

.portfolio {
  display: grid;
  height: 100%;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1px;
}

.portfolio-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;

  font-size: 1.5em;
  background-size: cover;
  background-position: top left;
  transition: all ease-in-out 300ms;
  position: relative;
  z-index: 10;
  padding: 20px 0;
}
  
 
  .portfolio .small {
    grid-row: span 1;
    grid-column: span 1;
  }
  
  .portfolio .medium {
    grid-row: span 2;
    grid-column: span 2;
  }
  
  .portfolio .large {
    grid-row: span 3;
    grid-column: span 3;
  }
  
  .portfolio .tall {
    grid-row: span 3;
    grid-column: span 2;
  }
  
  .portfolio .wide {
    grid-row: span 2;
    grid-column: span 3;
  }
  
    
  .portfolio-item:hover {
    color: white;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.85);
  }


.two {
  background-image: url(//unsplash.it/800/600);
  
}

  .two:before {
    content: '';
    display: block;
 
    opacity: 0.8;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all ease-in-out 300ms;
    z-index: -1;
  }
  
  .two:hover:before {
    opacity: 0.2;
  }
