
<div id="fullpage">
	<div class="section " id="section0">
		<div class="section-1024">
			
			<h1 class="text-align-left">Monty Chanthapanya</h1>
			 <input type="hidden" name="id" value="1" />
			 <div class="profile text-align-left">
				<div class="profile__image left"></div>
				<div class="profile__info">
					<p>
					I am a UI designer based in Sydney, Australia with over 10 years experience in digital interface design and development. 
					</p>
					<p>
					My journey began as a communications officer (web and publications) before moving into agency and in-house work, all whilst side hustling as a freelancer, designing print collateral and websites.
					</p>
	
					<p>
					My core interest is around UI design and technologies, with a strong focus on user adoption and experience design.  	
					</p>
				</div>
				<div class="profile__skills">
					<ul>
						<li>UI Design</li>
						<li>Gaphic Design</li>
						<li>UI Development</li>
						<li>UX</li>
						<li>SharePoint</li>
						<li>Publications</li>
						<li>Branding</li>
					</ul>

				</div>
			</div>
			<!-- <img src="imgs/fullPage.png" alt="fullPage" /> -->
		</div>
	</div>
	<div class="section" id="section1">	
		<%- include ../expanding.columns/expanding.columns.ejs %> 
	</div>
	
	<div class="section" id="section1b">
		<div class="intro">
			<%- include ../masonry.layout/masonry.layout.ejs %> 
		</div>
	</div>

	<div class="section" id="section2">
		<div class="intro">
			<h1>Services</h1>
			<div class="offerings">
				<div class="icons"></div>
				<div>UX/UI Design</div>
				<div>UI Development</div>
				<div>Web Styleguides</div>
				<div>Research and Workshops</div>
				<div>Graphic Design</div>
				<div>Wireframing</div>
				<div>Prototyping</div>
				<div>Mobile Apps Design</div>
				<div>SharePoint Development</div> 
				<div>Publications</div>
				<div>Shopify Development</div>
			</div>
		</div>		
	</div>

	<div class="section" id="section3">
		<div class="intro">
			<h1>Contact</h1>
			<p>
				Looking for a UI Professional for your next engagement? I'd love to hear from you. Please email me at 
				<a href="mailto:monthalay@gmail.com">
					<i class="fa fa-envelope" aria-hidden="true"></i> monthalay@gmail.com
				</a> 
				or call me on <a href="tel:+61400022663"><i class="fa fa-phone" aria-hidden="true"></i> +6140 0022 663</a>.
			</p>
		</div>
	</div>
</div>

