
<div id="fullpage">
	<div class="section " id="section0">
		<div class="section-1024">
		<div class="profile"></div>
		<h1>Monty Chanthapanya</h1>
		 <input type="hidden" name="id" value="1" />
		<h4>UI/UX Designer</h4>
		<p>UI Professional with the past 8 years in the consulting space, working with platforms such as SharePoint and Episerver. My key focus is in aligning creative design services to business requirements to provide design solutions enhance the user experience as well as embrace business strategy.</p>
		<!-- <img src="imgs/fullPage.png" alt="fullPage" /> -->
		</div>
	</div>
	<div class="section" id="section1">
		
		<div class="slide slide1">
			<div class="slide__left">
			<div class="intro">
				<h2>World Youth Day</h2>
				<p>GLobus Family of Brands</p>

			</div>
			</div>


		</div>
		<div class="slide slide2">
		<div class="slide__left">
			<div class="intro">
				<h2>Surf Lifesaving Foundation</h2>
				<p>Surf Life Saving</p>
			</div>
		</div>
		</div>
		<div class="slide slide3">
		<div class="slide__left">
			<div class="intro">
			<h2>Santos Tour Down Under 2018</h2>
				<p>South Australian Tourism Commission </p>
			</div>
		</div>
		</div>
		<div class="slide slide4">
		<div class="slide__left">
			<div class="intro">
				<h2>Scraping Solutions</h2>
			
			</div>
		</div>
		</div>
		<div class="slide slide5">
		<div class="slide__left">
			<div class="intro">
				<h2>msfeed</h2>
	
			</div>
		</div>
		</div>
		<div class="slide slide6">
		<div class="slide__left">
			<div class="intro">
				<h2>City of Yarra</h2>
	
			</div>
		</div>
		</div>
		
	</div>
	
	<div class="section" id="section1b">
			<div class="intro">
			<h1>Projects</h1>
				<div class="main-content">
  <div class="portfolio">
    <div class="portfolio-item medium">one</div>
    <div class="portfolio-item large two">two</div>
    <div class="portfolio-item medium">three</div>
    <div class="portfolio-item small">four</div>
    <div class="portfolio-item tall">five</div>
    <div class="portfolio-item wide">six</div>
    <div class="portfolio-item wide">six</div>
    <div class="portfolio-item medium">one</div>
  </div>
</div>
		</div>
	</div>

	<div class="section" id="section2">
				<div class="intro">
			<h1>Services</h1>
					<div class="offerings">
						<div class="icons"></div>
						<div>UX/UI Design</div>
						<div>UI Development</div>
						<div>Web Styleguides</div>
						<div>Research and Workshops</div>
						<div>Graphic Design</div>
						<div>Wireframing</div>
						<div>Prototyping</div>
						<div>Mobile Apps Design</div>
						<div>SharePoint Development</div> 
						<div>Publications</div>
						<div>Shopify Development</div>

					</div>

		</div>		
	</div>
	
		<div class="section" id="section3">
		<div class="intro">
			<h1>Contact</h1>
			<p>
				Looking for a UI Professional for your next engagement? I'd love to hear from you. Please email me at <a href="mailto:monthalay@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i> monthalay@gmail.com</a> or call me on <a href="tel:+61400022663"><i class="fa fa-phone" aria-hidden="true"></i> +6140 0022 663</span>.
				<br />
			</p>
		</div>
	</div>
</div>
