
#section0 {

    img{
        margin: 20px 0 0 0;
    }
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+42,E8E8E8+98 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(-45deg, #ffffff 42%, #E8E8E8 98%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #ffffff 42%,#E8E8E8 98%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #ffffff 65%,#E8E8E8 35%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#E8E8E8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#section1 {
    
    img{
        margin: 20px 0 0 0;
    }
}

#section2 {

    img{
        margin: 20px 0 0 52px;
    }
}
#section3 {

    img{
        bottom: 0px;
        position: absolute;
        margin-left: -420px;
    }
}

.twitter-share-button{
    position: absolute;
    z-index: 99;
    right: 149px;
    top: 9px;
}