#menu {
    position:fixed;
	top: 0;
	z-index: 70;
	padding: 0;
	margin:0;
	width: 100%;
	height: 40px;
	text-align: center;

    li {
        display:inline-block;
        margin: 1px;
        color: #000;
        margin: 5px 18px 0 18px;

        a {
            text-decoration:none;
            color: #000;
            font-family: 'Bree Serif', serif;  
            padding: 12px 0 15px 0;
            display:block;
        }

        &:hover {
            border-bottom: solid 1px #000;
        }
    
        &.active {
            border-bottom: solid 4px $blue;
            animation-name: border;
            animation-duration: .3s; 

            &:hover {
                border-bottom: solid 4px $blue;
            }

            a {
                padding: 12px 0 15px 0;
                display:block;
                color: $blue;

                &:hover {
                    color: #000; 
                }
            }
        }

    }
}