#menu {
    position:fixed;
	top: 0;
	z-index: 70;
	padding: 0;
	margin:0;
	width: 100%;
    text-align: center;
    height: 60px;
    background-color: rgba(0,0,0,0.75);
    padding-bottom: 15px;

    li {
        display:inline-block;
        margin: 1px;
        color: #000;
        margin: 5px 18px 0 18px;

        a {
            text-decoration:none;
            color: $white;
            padding: 20px 0 15px 0;
            display:block;
            font-size: 1.2em;
        }

        &:hover {
            border-bottom: solid 1px $white;
        }
    
        &.active {
            border-bottom: solid 4px $blue;
            animation-name: border;
            animation-duration: .3s; 

            &:hover {
                border-bottom: solid 4px $blue;
            }

            a {
                padding: 12px 0 15px 0;
                display:block;
                color: $blue;

                &:hover {
                    color: $blue-hover;
                }
            }
        }

    }
}

