<div class="section" id="section1">
		
    <div class="slide slide1">
        <div class="slide__left">
        <div class="intro">
            <h2>World Youth Day</h2>
            <p>GLobus Family of Brands</p>

        </div>
        </div>


    </div>
    <div class="slide slide2">
    <div class="slide__left">
        <div class="intro">
            <h2>Surf Lifesaving Foundation</h2>
            <p>Surf Life Saving</p>
        </div>
    </div>
    </div>
    <div class="slide slide3">
    <div class="slide__left">
        <div class="intro">
        <h2>Santos Tour Down Under 2018</h2>
            <p>South Australian Tourism Commission </p>
        </div>
    </div>
    </div>
    <div class="slide slide4">
    <div class="slide__left">
        <div class="intro">
            <h2>Scraping Solutions</h2>
        
        </div>
    </div>
    </div>
    <div class="slide slide5">
    <div class="slide__left">
        <div class="intro">
            <h2>msfeed</h2>

        </div>
    </div>
    </div>
    <div class="slide slide6">
    <div class="slide__left">
        <div class="intro">
            <h2>City of Yarra</h2>

        </div>
    </div>
    </div>
    
</div>