/* roboto */
@font-face {
	font-family: 'Roboto';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
	font-family: 'Roboto-Black';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/Roboto/Roboto-Black.ttf');
}

@font-face {
	font-family: 'Roboto-Bold';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
	font-family: 'Roboto-Medium';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/Roboto/Roboto-Medium.ttf');
}

/* merriweather */

@font-face {
    font-family: 'merriweatherblack';
    src: url('../fonts/merriweather/merriweather-black-webfont.woff2') format('woff2'),
         url('../fonts/merriweather/merriweather-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'merriweatherblack_italic';
    src: url('../fonts/merriweather/merriweather-blackitalic-webfont.woff2') format('woff2'),
         url('../fonts/merriweather/merriweather-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'merriweatherbold';
    src: url('../fonts/merriweather/merriweather-bold-webfont.woff2') format('woff2'),
         url('../fonts/merriweather/merriweather-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'merriweatherbold_italic';
    src: url('../fonts/merriweather/merriweather-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/merriweather/merriweather-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'merriweatheritalic';
    src: url('../fonts/merriweather/merriweather-italic-webfont.woff2') format('woff2'),
         url('../fonts/merriweather/merriweather-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'merriweatherlight';
    src: url('../fonts/merriweather/merriweather-light-webfont.woff2') format('woff2'),
         url('../fonts/merriweather/merriweather-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'merriweatherlight_italic';
    src: url('../fonts/merriweather/merriweather-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/merriweather/merriweather-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'merriweatherregular';
    src: url('../fonts/merriweather/merriweather-regular-webfont.woff2') format('woff2'),
         url('../fonts/merriweather/merriweather-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* merriweather sans */

@font-face {
    font-family: 'merriweather_sansbold';
    src: url('../fonts/merriweathersans/merriweathersans-bold-webfont.woff2') format('woff2'),
         url('../fonts/merriweathersans/merriweathersans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'merriweather_sansextrabold';
    src: url('../fonts/merriweathersans/merriweathersans-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/merriweathersans/merriweathersans-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'merriweather_sanslight';
    src: url('../fonts/merriweathersans/merriweathersans-light-webfont.woff2') format('woff2'),
         url('../fonts/merriweathersans/merriweathersans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'merriweather_sansregular';
    src: url('../fonts/merriweathersans/merriweathersans-regular-webfont.woff2') format('woff2'),
         url('../fonts/merriweathersans/merriweathersans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}