
@font-face {
	font-family: 'Roboto';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
	font-family: 'Roboto-Black';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/Roboto/Roboto-Black.ttf');
}

@font-face {
	font-family: 'Roboto-Bold';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
	font-family: 'Roboto-Medium';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/Roboto/Roboto-Medium.ttf');
}
